*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #404661cb;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #404661cb;
    /* color: #333; */
    top: 0;
    position: sticky;
    z-index: 10;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
}

.logo img {
    width: 80px;
    height: 50px;
    border-radius: 50%;
}

.logo h2 {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #1a1d29;
}

.logo span {
    color: #d4b504;
    text-shadow:  0 5px 10px #794509;
    font-size: 2.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #1a1d29;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.nav-links a:hover {
    color: #1a1d297e;
    border-radius: 5px;
}

.icons {
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}


.icons i{
    color: #1a1d29;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 20px;
}

.icons i:hover{
    color: #1a1d297e;
}

/* dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 25px;
    left: 1;
    background-color: #1a1d297e;
    color: #ccc;
    min-width: 180px;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content li {
    list-style: none;
    width: 100%;
    
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #ccc;
}

.dropdown-content a:hover {
  background: #1a1d297e;
  color: #ccc;
}

/* display dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Mainbody styling */
.container {
    background-image: url('https://images.unsplash.com/photo-1549439602-43ebca2327af?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=870');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
}

/* sidebar Styling */
.side-bar {
    width: 20%;
    background-color: #40466159;
    padding: 30px;
    border-right: 1px solid #404661;
}

.side-bar h2 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 15px;
}

.category-list {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #8e9ee6;
}

.category-list li {
    margin: 15px 0;
    width: 100%;
}

.category-list a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ccc;
    padding: 10px 15px;
    display: block;
    transition: 0.3s ease;
}

.category-list a:hover {
    background-color: #404661;
}

.side-bar h3 {
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 0.8rem;
}

.side-bar input {
    padding: 15px;
    cursor: pointer;
}
.side-bar p {
    color: #ccc;
    font-weight: 600;
    margin-top: 0.5rem;
}

.main-content {
    width: 70%;
    margin: 80px 100px;
}

.main-content h1 {
    text-align: center;
    color: #ffffff;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    width: 360px;
    height: 250px;
    border: none;
    box-shadow: 0 5px 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #404661a2;
    transition: transform 0.5s;
}

.product img {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0 0;
}

.product p {
    text-align: center;
    font-size: 1rem;
    color: #1a1d29;
    margin-top: 12px;
    font-weight: 800;
}

.product:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer h2 {
    color: #d3b81d;
    text-shadow: 0 5px 10px #794509;
    font-size: 1.8rem;
}

footer .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 1.8rem;
}

footer p {
    font-size: 1.5rem;
    color: #404661;
    margin-top: 15px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 40px;
    }

    .logo {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .logo h2 {
        font-size: 0.8rem;
    }

    .nav-links a {
        font-size: 10px;
    }

    .container {
        flex-direction: wrap;
        align-items: center;
    }

    .side-bar {
        /* padding: 18px; */
        display: none;
    }

    /* .side-bar h2 {
        font-size: 1rem;
    }

    .category-list a {
        font-size: 0.6rem;
    }

    .side-bar h3 {
        font-size: 0.8rem;
    }

    .side-bar input {
        padding: 8px;
        width: 80px;
    }

    .side-bar p {
        font-size: 0.5rem;
    } */

    .content {
        flex-direction: column;
    }

    .product {
        width: 180px;
        height: 100px;
    }

    .product p {
        font-size: 0.5rem;
        margin-top: 2.5px;
    }
    footer {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer h2 {
        font-size: 0.8rem;
    }

    footer .icons {
        font-size: 0.8rem;
    }

    footer p {
        font-size: 0.5rem;
    }
}